﻿@using eConsentWeb.Common
@model IEnumerable<eConsentWeb.MS_eConsent_HCPProfile>

@{
    ViewBag.Title = "eConsent List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .mt-checkbox {
        margin-bottom: 0px !important;
        margin-right: 25px !important;
    }
    .mt-checkbox-inline{
        padding-bottom: 0px !important;
    }
</style>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-paper-plane-o font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">eConsent List</span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="dv-alert"></div>
                   
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-filter"></i>Filter Consent
                                    </div>
                                </div>
                                <div class="portlet-body pad15T">
                                    <form class="form-horizontal" role="form">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><b>Opt Status</b></label>
                                                    <div class="col-md-8">
                                                        <div class="mt-checkbox-inline">
                                                            <label class="mt-checkbox mt-checkbox-outline">
                                                                <input type="checkbox" id="opt-status-in" value="in"> Opt In
                                                                <span></span>
                                                            </label>
                                                            <label class="mt-checkbox mt-checkbox-outline">
                                                                <input type="checkbox" id="opt-status-out" value="out"> Opt Out
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><b>Speciality</b></label>
                                                    <div class="col-md-8">
                                                        @*<select id="speciality" class="form-control select2 no-placeholder">
                                                            <option value="">All Speciality</option>
                                                            <option value="Penyakit Dalam">Penyakit Dalam</option>
                                                            <option value="Kejiwaan">Kejiwaan</option>
                                                            <option value="Kulit dan Kelamin">Kulit dan Kelamin</option>
                                                            <option value="Kandungan">Kandungan</option>
                                                        </select>*@
                                                        @Html.DropDownList("speciality", new SelectList(ViewBag.Speciality, "Value", "Text"), htmlAttributes: new { @class = "form-control select2 no-placeholder", @id = "speciality", @multiple = "" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><b>Consent Channel</b></label>
                                                    <div class="col-md-8">
                                                        <select id="consent-channel" class="form-control select2 no-placeholder" multiple="">
                                                            <option value="Email">Email</option>
                                                            <option value="Nomor Ponsel">Nomor Ponsel</option>
                                                        </select>
                                                        @*@Html.DropDownList("speciality", new SelectList(ViewBag.Speciality, "Value", "Text"), htmlAttributes: new { @class = "form-control select2 no-placeholder", @id = "speciality", @multiple = "" })*@
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><b>Province</b></label>
                                                    <div class="col-md-8">
                                                        @*<select id="province" class="form-control select2 no-placeholder">
                                                            <option value="">All Province</option>
                                                            <option value="Penyakit Dalam">Penyakit Dalam</option>
                                                            <option value="Kejiwaan">Kejiwaan</option>
                                                            <option value="Kulit dan Kelamin">Kulit dan Kelamin</option>
                                                            <option value="Kandungan">Kandungan</option>
                                                        </select>*@
                                                        @Html.DropDownList("province", new SelectList(ViewBag.Province, "Value", "Text"), htmlAttributes: new { @class = "form-control select2 no-placeholder", @id = "province", @multiple = "" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><b>City</b></label>
                                                    <div class="col-md-8">
                                                        @*<select id="city" class="form-control select2 no-placeholder">
                                                            <option value="">All City</option>
                                                            <option value="Penyakit Dalam">Penyakit Dalam</option>
                                                            <option value="Kejiwaan">Kejiwaan</option>
                                                            <option value="Kulit dan Kelamin">Kulit dan Kelamin</option>
                                                            <option value="Kandungan">Kandungan</option>
                                                        </select>*@
                                                        @Html.DropDownList("city", new SelectList(ViewBag.City, "Value", "Text"), htmlAttributes: new { @class = "form-control select2 no-placeholder", @id = "city", @multiple = "" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 text-center">
                                                <button class="btn sbold green" type="button" id="btn-search">
                                                    <i class="fa fa-search"></i>
                                                    Search
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-12">
                                @*<a class="btn sbold green" id="btn-add" href="@Url.Action("Create", "UserManagement")">
                        <i class="fa fa-plus"></i>
                        Add New User
                    </a>*@
                                <a class="btn sbold blue pull-right" target="_blank" style="margin-left:10px" href="@Url.Action("Export", "Consent")">
                                    <i class="fa fa-download"></i>
                                    Export All to Excel
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="consent-list">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Gender
                                </th>
                                <th>
                                    Speciality
                                </th>
                                <th>
                                    STR
                                </th>
                                <th>
                                    Province
                                </th>
                                <th>
                                    City
                                </th>
                                <th>
                                    Opt Status
                                </th>
                                <th>
                                    Consent Channel
                                </th>
                                <th style="min-width: 50px">
                                    
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var url = "@Url.Action("LoadConsent", "Consent")";

            var table = $("#consent-list").DataTable({
                //"scrollX": true,
                "pagingType": "bootstrap_full_number",
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                //"filter": true, // this is for disable filter (search box)
                "orderCellsTop": true,
                "ajax": {
                    url: url,
                    type: "POST",
                    datatype: "json",
                    data: function (d) {
                        d.opt_status_in = $("#opt-status-in").prop("checked"),
                        d.opt_status_out = $("#opt-status-out").prop("checked"),
                        d.speciality = $("#speciality").val(),
                        d.province = $("#province").val(),
                        d.city = $("#city").val(),
                        d.consent_channel = $("#consent-channel").val()
                    }
                },
                "order": [[0, "asc"]],
                //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                "columns": [
                        { "data": "NAME", "name": "NAME", "autoWidth": true },
                        { "data": "GENDER", "name": "GENDER", "autoWidth": true },
                        { "data": "SPECIALITY", "name": "SPECIALITY", "autoWidth": true },
                        { "data": "STR", "name": "STR", "autoWidth": true },
                        { "data": "PROVINCE", "name": "PROVINCE", "autoWidth": true },
                        { "data": "CITY", "name": "CITY", "autoWidth": true },
                        { "data": "OPT_STATUS", "name": "OPT_STATUS", "autoWidth": true },
                        { "data": "CONSENT_CHANNEL", "name": "CONSENT_CHANNEL", "autoWidth": true },
                        { "data": "DOCTOR_CODE", "name": "DOCTOR_CODE", "autoWidth": true, }
                ],
                "createdRow": function (row, data, index) {
                    var buttons = //'';
                        '<a href="@Url.Action("Details", "Consent")/' + data["DOCTOR_CODE"] + '" title="Details" class="btn yellow btn-xs btn-eye">' +
                        '    <i class="fa fa-eye"></i>' +
                        '</a>';

                    $('td', row).eq(-1).attr("style", "text-align: center");
                    $('td', row).eq(-1).html(buttons);
                },

            });

            $('#order-list-server thead tr:eq(1) th').each(function (i) {
                $('input, select', this).on('keyup change', function () {
                    //console.log(table.column());
                    //console.log(table.column(i).search());
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                        //console.log("search");
                    }
                });
            });

            $("#btn-search").click(function () {
                table.draw();
            });

            var lastJQueryTS = 0;
            $('.date-picker').datepicker().on('changeDate', function (ev) {
                var send = true;
                if (typeof(event) == 'object'){
                    if (event.timeStamp - lastJQueryTS < 300){
                        send = false;
                    }
                    lastJQueryTS = event.timeStamp;
                }
                if (send){
                    table.ajax.reload();
                    console.log("changed");
                }
            });

            $("#date-range-reset").on('click', function () {
                $('#date_from').datepicker('setDate', null);
                $('#date_to').datepicker('setDate', null);
            });

            //$("#speciality").on("change", function () {
            //    console.log($("#speciality").val());
            //});

            $('#speciality').on('select2:select', function (e) {
                var data = e.params.data;

                if (data.id == "") {
                    $('#speciality').val('');
                }
            });
        });
    </script>
}